<div class="board-grid">
  <table>
    {{#each this.grid as |row rowI|}}
      <tr>
        {{#each row as |cell cellI|}}
          <td class={{if (is-equal cell 1) 'land' 'water'}} {{action this.cellActionClick rowI cellI}}></td>
        {{/each}}
      </tr>
    {{/each}}
  </table>
  <div class="tank-grid click-through">
    {{#each @playerOne.units as |tank|}}
      {{#if tank.isAssignedLocation}}
        <div
          class="tank-unit p1 click-able"
          style="transform: translate({{tank.xLocation}}%, {{tank.yLocation}}%)"
          {{action this.tankActionClick tank}}
        >
          {{tank.strength}}
        </div>
      {{/if}}
    {{/each}}
  </div>
  <div class="tank-grid click-through">
    {{#each @playerTwo.units as |tank|}}
      {{#if tank.isAssignedLocation}}
        <div
          class="tank-unit p2 click-able"
          style="transform: translate({{tank.xLocation}}%, {{tank.yLocation}}%)"
          {{action this.tankActionClick tank}}
        >
          {{tank.strength}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>