<div class="board-grid" ...attributes>
  <table>
    {{#each this.grid as |row rowI|}}
      <tr>
        {{#each row as |cell cellI|}}
          <td class={{class-list "cell" (if cell.canUse "_selectable")}} {{action this.cellActionClick rowI cellI}}></td>
        {{/each}}
      </tr>
    {{/each}}
  </table>
  <div class="tank-grid click-through">
    {{#each this.units as |tank|}}
      {{#if tank.isAssignedLocation}}
        <div
          class={{class-list "tank-unit click-able" tank.player.type (if (is-equal tank this.unitSelected) "_selected")}}
          style="transform: translate({{tank.xLocation}}%, {{tank.yLocation}}%)"
          {{action this.tankActionClick tank}}
        >
          <img src="/images/tank.png" alt="Tank" class={{class-list "tank-image" tank.player.type}}>
          <span class={{class-list "strength-display" tank.player.type}}>{{tank.strength}}</span>
        </div>
      {{/if}}
    {{/each}}
  </div>
  <button type="button" disabled={{this.actionButtonDisabled}} {{action this.actionButtonClick}}>{{this.actionButtonText}}</button>
</div>