<div {{did-insert this.simulationStart}}>
  <h1 class="text-center">Tanky</h1>
  {{#unless this.gameStarted}}
    <div class="text-center">
      <button type="button" {{action this.actionGameStart}}>Start Game</button>
    </div>
  {{/unless}}
  <div class="pad-top flex space-between">
    <PlayerSideCard @player={{this.playerOne}} @unitName="Tank" />
    {{#if this.gameStarted}}
      <GameBoard
        @boardType={{this.boardType}}
        @playerOne={{this.playerOne}}
        @playerTwo={{this.playerTwo}}
        @tankActionClick={{this.tankActionClick}}
        @cellActionClick={{this.cellActionClick}}
      />
    {{/if}}
    <PlayerSideCard @player={{this.playerTwo}} @unitName="Tank"/>
  </div>
</div>

{{#if this.isEnterPlayerInfo}}
  {{#modal-dialog
    onClose=(action this.cancelPlayerCreation)
    targetAttachment="center"
    translucentOverlay=true
  }}
    <div>
      <label for="input-name">{{this.playerNameLabel}}</label>
      <Input
        id="input-name"
        placeholder="name"
        @value={{this.playerName}}
        {{on "input" this.updateName}}
      />
      <button type="button" disabled={{this.saveNameDisabled}} {{action this.actionConfirmName}}>Confirm</button>
      <button type="button" {{action this.actionAutoName}}>Auto-Gen Names</button>
    </div>
  {{/modal-dialog}}
{{/if}}