<div {{did-insert this.simulationStart}}>
  <h1 class="text-center">Tanky</h1>
  {{#unless this.gameStarted}}
    <div class="text-center">
      <button type="button" {{on "click" this.actionGameStart}}>Start Game</button>
    </div>
  {{/unless}}
  <div class="pad-top flex play-area">
    <PlayerSideCard @player={{this.playerOne}} @unitName="Tank" />
    {{#if this.gameStarted}}
      <div class="pad-top">
        <GameBoard
          @grid={{this.grid}}
          @gameState={{this.gameState}}
          @boardType={{this.boardType}}
          @playerOne={{this.playerOne}}
          @playerTwo={{this.playerTwo}}
          @tankSelected={{this.tankSelected}}
          @tankActionClick={{this.tankActionClick}}
          @cellActionClick={{this.cellActionClick}}
          @actionButtonClick={{this.actionButtonClick}}
        />
      </div>
    {{/if}}
    <PlayerSideCard @player={{this.playerTwo}} @unitName="Tank"/>
  </div>
</div>

{{#if this.isEnterPlayerInfo}}
  <ModalDialog @onClose={{this.cancelPlayerCreation}} @targetAttachment="center" @translucentOverlay={{true}}>
    <div>
      <label for="input-name">{{this.playerNameLabel}}</label>
      <Input
        id="input-name"
        placeholder="name"
        @value={{this.playerName}}
        {{on "input" this.updateName}}
      />
      <button type="button" disabled={{this.saveNameDisabled}} {{on "click" this.actionConfirmName}}>Confirm</button>
      <button type="button" {{on "click" this.actionAutoName}}>Auto-Gen Names</button>
    </div>
  </ModalDialog>
{{/if}}